@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: 2fr 10fr;
  /* grid-column-gap: 20px; */
}
#customSelect {
  color: #109cf1 !important;
  border: transparent !important;
}

.MuiSelect-root {
  border-radius: none !important;
}
.MuiSelect-multiple {
  border: 1px solid orange;
}
.MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: none !important;
}
/* .MuiFormControl-root {
  border: 1px solid orange !important;
} */
